<!--<!DOCTYPE html>-->
<!--<html  xmlns:th="http://www.thymeleaf.org" >-->
<!--<head>-->
    <!--<meta charset="UTF-8"/>-->
    <!--<title>title</title>-->
<!--</head>-->
<!--<body>-->
<!--<div>-->
    <!--<form method="post" enctype="multipart/form-data" th:action="/fileUpload">-->
        <!--<input type="file" name="file" th:value="请选择上传的文件" />-->
        <!--<button type="submit" name="submit" >submit</button>-->
    <!--</form>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
       <b th:text="hello,world!"></b>
</body>
</html>
